ENV={{ stage }}
PORT={{ port }}

DATABASE_HOST={{ database.host }}
DATABASE_PORT={{ database.port }}
DATABASE_USER={{ database.user }}
DATABASE_PASSWORD={{ database.password }}
DATABASE_NAME={{ database.name }}

