# HTTPS server
server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ domain }};

  ssl on;
  ssl_certificate         /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
  ssl_certificate_key     /etc/letsencrypt/live/{{ domain }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ domain }}/chain.pem;
  
  location / {
    proxy_pass http://{{ target_host }}:{{ target_port }};
    include nginxconfig.io/proxy.conf;
  }
  
}

# HTTP redirect
server {
  listen 80;
  listen [::]:80;

  server_name {{ domain }};

  include nginxconfig.io/letsencrypt.conf;

  location / {
    return 301 https://{{ domain }}$request_uri;
  }
}